@font-face {
    src: url(moon_get/moon_get-Heavy.ttf) format("truetype");
    font-family: Moon;
    
}

body {
    background-image: url(clouds.jpeg);
}

header h1 {
    font-family: Moon;
}

 menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px;
}

a {
    color:aliceblue;

}

.login{
    display: flex;
    flex-direction:column;
    align-items: left;
    box-sizing: border-box;
    background: rgb(159, 178, 255);
    
    border: 2px solid rgb(142, 132, 255);
    padding: 10px;
}